<%= form_tag({controller: 'marks', action: 'update', id: @student.id}, method: :put) %>

<% @evaluable_items.each do |evaluable_item| %>
    <div class="field">
      <%= label_tag "values[#{evaluable_item.id}]", evaluable_item.name %><br>
      <%= number_field_tag "values[#{evaluable_item.id}]", @mark_values[evaluable_item.id], step: 0.01, min: 0.0, max: 10.0 %>
    </div>
<% end %>
<div class="actions">
  <%= submit_tag t(:update_marks) %>
</div>
</form>